$darkGrey: hsla(0, 0%, 15%, 0.75);
$lightGrey: hsl(0, 0%, 77%);
$nearBlack: hsl(0, 0%, 8%);

html {
    font-family: Roboto, sans-serif;
    background-color: black;
    color: hsl(0, 0%, 99%);
    font-size: 1.2rem;
}

body {
    background-color: $nearBlack;
    margin: 0 auto;
    min-height: 40rem;
    height: 100%;
}

footer {
    height: 3rem;
    padding: 2rem;
    text-align: right;
    opacity: 0.85;
    background-color: $darkGrey;
}

main.loading {
    opacity: 0.05;
    transition-duration: 3s;
}

main.loading #full-screen {
    opacity: 1.0;
    background: red;
}

main {
    transition: 3s ease-out opacity;

    font-size: 1.1rem;
    padding: 1rem;

    pre {
        opacity: 0.35;
    }

    small {
        font-size: 0.8rem;
        opacity: 0.8;
    }
    #wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%
    }
}

nav {
    height: 2.5rem;
    padding: 0.5rem;
    background-color: hsl(5, 35%, 12%);

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 0.5rem;
                width: 10rem;
                border: 1px solid hsl(5, 20%, 20%);
                margin: 0 2rem;
                background-color: hsl(5, 40%, 15%);
                border-radius: 0.25rem;
                text-decoration: none;
            }
        }
    }
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}


.emoji {
    font-family: serif;
    font-size: 1.25rem;
    padding: 0.25rem;
    display: inline-block;
}

h2 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    font-weight: 300;
    font-size: 2.2rem;
    text-overflow: ellipsis;
    max-width: inherit;
    white-space: nowrap;
    overflow: hidden;
}
h3 {
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0.15rem;
    margin-top: 0.2rem;
}

#full-screen {
    margin: 10rem auto;
    height: 50rem;
}


div.project {
    transition: all 1.5s;

    padding: 0.75rem 0.75rem 0 0.75rem;
    flex-grow: 1;
    max-width: 28rem;
    min-width: 12rem;
    border: solid 2px hsl(0, 0%, 14%);
    background: linear-gradient(-20deg, hsl(0, 0%, 5%), hsl(0, 0%, 17.5%));
    margin: 0 1rem 1rem 0;
    border-radius: 0.25rem;


    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: hsla(0, 0%, 100%, 0.75);
    }

    .description {
        color: hsl(0, 0%, 55%);
        font-size: 0.8rem;
        opacity: 0.85;
        height: 1.1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        /* TODO: better limiting */
        max-width: 22rem;
    }

    .empty {
        font-family: serif;
        color: hsl(0, 0%, 30%);
        font-size: 13rem;
        white-space: nowrap;
        overflow: hidden;
        transition: inherit;
        flex-grow: 1;
        size: inherit;
        vertical-align: center;
        text-align: center;
        opacity: 0.06;
        padding: 1.5rem 0 0;
    }
}

ol.pipeline-groups {
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
    color: $lightGrey;
    opacity: 0.95;
    margin-bottom: 0;

    .group {
        display: block;
        min-height: 3.5rem;
        //background: hsla(0, 0%, 15%, 0.8);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        border: 2px solid hsla(0, 0%, 15%, 0.85);
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;

        a {
            font-family: "Roboto Mono", monospace;
        }
    }

    .pipelines {
        display: flex;
        overflow: hidden;

        a.pipeline {
            display: flex;
            flex-grow: 0;
            align-items: center;
            padding: 0.1rem 0.5rem 0.1rem 0.25rem;
            border: 2px solid $darkGrey;
            border-radius: 1rem;
            opacity: 0.96;
            margin: 0.1rem 0.5rem 0.1rem 0;
            transition-duration: 0.75s;

            .small {
                font-size: 0.75rem;
                font-family: "Roboto Mono", monospace;
                color: $lightGrey;
            }
            .emoji {
                opacity: 0.85;
                font-size: 1.2rem;
            }
        }

        a:hover {
            opacity: 1.0;
            border-color: transparent;
            box-shadow: 0.15rem 0.15rem 0.25rem hsla(0, 0%, 22.5%, 0.8), -0.15rem -0.15rem 0.25rem hsla(0, 0%, 22.5%, 0.8);
            transition-duration: 0.1s;
        }

        .running {
            animation: blinker 0.85s ease-in infinite alternate;
            transition-duration: 0.5s;
            background-color: hsl(45, 70%, 20%);
            border-color: hsl(45, 70%, 20%);
            .small {
                opacity: 1.0;
            }
        }

        .success {
            background: hsl(110, 35%, 14%);
        }

        .failed {
            background-color: hsl(5, 55%, 17%);
        }

        @keyframes blinker {
            to {
                animation: all;
                opacity: 1.0;
                background-color:hsl(45, 40%, 15%);;
            }
        }

    }

    a:hover {
        text-decoration: none;
    }

    .master {
        background: hsl(0, 0%, 17.5%);
        min-height: 4rem;
    }


    .master.failed {
        background-color: hsl(5, 80%, 20%);
        animation: blinker 0.85s ease-out infinite alternate;
    }

    .master.success {
        background-color: hsl(125, 55%, 17.5%);
    }

    a:hover {
        opacity: 1.0;
    }

}

