// Ugh. See https://github.com/parcel-bundler/parcel/issues/39
@import url(../../../node_modules/normalize-scss/sass/normalize/_import-now.scss);

@import url(./roboto.scss);

$darkGrey: hsla(0, 0%, 13%, 0.8);
$midGrey: hsla(0, 0%, 40%, 0.9);
$lightGrey: hsl(0, 0%, 77%);
$nearBlack: hsl(0, 0%, 8%);
$nearWhite: hsl(0, 0%, 99%);

html {
    font-family: Roboto, sans-serif;
    background-color: black;
    color: $nearWhite;
    font-size: 1.30rem;
}

body {
    background-color: $nearBlack;
    margin: 0 auto;
    min-height: 40rem;
    height: 100%;
}

footer {
    height: 3rem;
    padding: 2rem;
    text-align: right;
    opacity: 0.85;
    background-color: $darkGrey;
}

.loading {
    opacity: 0.16;
}

main {
    padding: 1rem;

    pre {
        opacity: 0.35;
    }

    small {
        font-size: 0.8rem;
        opacity: 0.8;
    }

    #wrapper {
        transition: 2.5s ease-out opacity;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%
    }
}

nav {
    height: 2.5rem;
    padding: 0.5rem;
    background-color: hsl(5, 35%, 12%);

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 0.5rem;
                width: 10rem;
                border: 1px solid hsl(5, 20%, 20%);
                margin: 0 2rem;
                background-color: hsl(5, 40%, 15%);
                border-radius: 0.25rem;
                text-decoration: none;
            }
        }
    }
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}


.emoji {
    font-family: serif;
    font-size: 1.2rem;
    padding: 0.1rem 0.25rem;
    display: inline-block;
}

h2 {
    margin-bottom: 0.25rem;
    margin-top: 0.1rem;
    font-weight: 300;
    font-size: 2.4rem;
    text-overflow: ellipsis;
    max-width: inherit;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

#full-screen {
    margin: 10rem auto;
    height: 50rem;
    width: 40%;

    * {
        text-align: center;
    }
}


div.project {
    transition: all 2s;
    padding: 0.25rem 0.75rem 0 0.75rem;
    flex-grow: 1;
    max-width: 21rem;
    min-width: 12rem;
    border: solid 2px hsl(0, 0%, 14%);
    background: linear-gradient(-20deg, hsl(0, 0%, 4%), hsl(0, 0%, 15%));
    margin: 0 1rem 1.5rem 0;
    border-radius: 0.5rem;

    a {
        text-decoration: none;
        color: darken($nearWhite, 25%);

        h2 {
            color: $nearWhite;
        }
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: hsla(0, 0%, 100%, 0.75);
    }

    .description {
        color: hsl(0, 0%, 70%);
        font-size: 0.8rem;
        opacity: 0.80;
        height: 1.1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        /* TODO: better limiting */
        max-width: 24rem;

        img {
            width: 1rem;
        }
    }

    .empty {
        font-family: serif;
        color: hsl(0, 0%, 30%);
        font-size: 13rem;
        white-space: nowrap;
        overflow: hidden;
        transition: inherit;
        flex-grow: 1;
        size: inherit;
        vertical-align: center;
        text-align: center;
        opacity: 0.06;
        padding: 1.5rem 0 0;
    }
}

ol.pipeline-groups {
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
    color: $lightGrey;
    margin-bottom: 0;

    .group {
        display: block;
        overflow: hidden;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        border: 2px solid hsla(0, 0%, 15%, 0.85);
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;

        h3 {
            max-width: 98%;

            a {
                opacity: 0.75;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        a {
            font-family: "Roboto Mono", monospace;
        }
    }

    .group.master {
        h3 a {
            text-shadow: white;
            opacity: 1.0;
            filter: drop-shadow(0 0 1px $midGrey);
        }
    }

    .pipelines {
        display: flex;
        overflow: hidden;

        a:first-child {
            opacity: 1.0 ! important;
        }

        a {
            opacity: 0.45;
            display: flex;
            flex-grow: 0;
            align-items: center;
            padding: 0.1rem 0.75rem 0.1rem 0.75rem;
            border-radius: 1rem;
            margin: 0.1rem 0.25rem 0.1rem 0.25rem;
            transition-duration: 0.75s;
            filter: saturate(0.65);

            .emoji {
                opacity: 0.82;
            }
        }

        a:hover {
            opacity: 0.6;
            filter: brightness(125%) drop-shadow(0rem 0rem 0.1rem $midGrey);
            transition-duration: 0.2s;
        }

        a:first-child {
            opacity: 1.0;
            filter: saturate(1.0);
        }

        a:first-child:hover {
            opacity: 1.0;
            filter: brightness(125%) drop-shadow(0rem 0rem 0.1rem $midGrey);
        }

        .running {
            animation: blinker 0.85s ease-in infinite alternate;
            transition-duration: 0.5s;
            background-color: hsl(45, 65%, 18%);

            .small {
                opacity: 1.0;
            }
        }

        .success {
            background: hsl(110, 35%, 14%);
        }

        .failed {
            background-color: hsl(5, 55%, 17%);
        }

        .unknown {
            background-color: hsl(0, 0%, 14%);
        }

        @keyframes blinker {
            to {
                animation: all;
                opacity: 1.0;
                background-color: hsl(45, 40%, 13%);
            }
        }

    }

    a:hover {
        text-decoration: none;
    }

    .master {
        background: hsla(0, 0%, 0%, 0.1);
    }

    .master.failed {
        background-color: hsl(5, 80%, 20%);
        animation: blinker 0.85s ease-out infinite alternate;
    }

    .master.success {
        background-color: hsl(125, 55%, 17.5%);
    }

    a:hover {
        opacity: 1.0;
    }

}

